In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
import sys
root_directory = Path.cwd().parents[0].resolve()
sys.path.append(str(root_directory))

In [3]:
import pandas as pd
from rectools.utils.visualisation import Showcase

In [4]:
item_data = pd.DataFrame({
    "item_id": range(5),
    "name": ["Зеленая книга", "Мейр из Исттауна", "Настоящий детектив", "Ла-ла-ленд", "Джон Уик"],
    "img_url": ['https://recsysart.ru/posters/10772.jpg',
       'https://recsysart.ru/posters/1931.jpg',
       'https://recsysart.ru/posters/12048.jpg',
       'https://recsysart.ru/posters/3343.jpg',
       'https://recsysart.ru/posters/10073.jpg']
    
})
item_data

   item_id                name                                 img_url
0        0       Зеленая книга  https://recsysart.ru/posters/10772.jpg
1        1    Мейр из Исттауна   https://recsysart.ru/posters/1931.jpg
2        2  Настоящий детектив  https://recsysart.ru/posters/12048.jpg
3        3          Ла-ла-ленд   https://recsysart.ru/posters/3343.jpg
4        4            Джон Уик  https://recsysart.ru/posters/10073.jpg

In [5]:
interactions = pd.DataFrame(
    {"user_id": [1]*2 + [2]*2,
    "item_id": range(4),
    }
)
interactions

   user_id  item_id
0        1        0
1        1        1
2        2        2
3        2        3

In [6]:
recos = pd.DataFrame(
    {"target_item_id": [1]*2 + [2]*2,
    "item_id": range(2, 6),
    "model": ["model_one"]*4,
#     "model": ["model_one", "model_two"]*2,
    "score": [100]*4}
)
recos

   target_item_id  item_id      model  score
0               1        2  model_one    100
1               1        3  model_one    100
2               2        4  model_one    100
3               2        5  model_one    100

In [7]:
# formatters should be a dict with column names as keys and functions to generate html code as values

def path_to_image_html(url: str) -> str:
    return '<img src="' + url + '" style=max-height:150px;"/>'

formatters=dict(img_url=path_to_image_html)  # "img_url" здесь - это название колонки датафрейма

In [9]:
show = Showcase(
    recos=recos, 
    item_data=item_data,
    remove_exceeding_data=True,
    is_u2i=False,  # u2i рекомендации
    requests_dict={"user_one": 1},  # добавляем юзеров, которых хотим посмотреть (маппинг имен на id)
    n_add_random_requests=0,  # добавляем количество рандомных юзеров
    reco_cols=["score"],  # добавляем колонки для отражения из recos датафрейма
    item_data_cols=["item_id", "img_url", "name"],  # добавляем колонки для отражения из item_data дарафрейма
    item_df_formatters=formatters  # добавляем подготовленное форматирование колонок
)

VBox(children=(ToggleButtons(button_style='warning', description='Select request target_item_id:', options=('u…

# Junk

In [10]:
from IPython.display import HTML
table = "<table><tr><th>bar</th><th>bar</th></tr><tr><td>foo</td><td>foo</td></tr></table>"
HTML(table)

In [13]:
css = """<style>
th {
background-color:#55FF33;
}
td {
background-color:#00FFFF;
}
</style>"""

In [14]:
display(HTML(css))